.input-search {
  display: flex;
  justify-content: space-between;
}

.tournamentItem {
  padding: 20px;
  border-radius: 4px;
  background-color: #1f1f1f;
  line-height: 4px;
}

.editButton {
  margin-right: 4px;
}

.deleteButton {
  margin-left: 4px;
}

.tournament-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin: 24px 0px 24px 0px;
}
