.input-search {
  display: flex;
  justify-content: space-between;
}

.tournamentItem {
  width: 30%;
  padding: 20px;
  margin-top: 24px;
  border-radius: 4px;
  background-color: #1f1f1f;
  line-height: 4px;
}

.editButton {
  margin-right: 4px;
}

.deleteButton {
  margin-left: 4px;
}
